body{
    background-color:  rgba(6, 8, 9, 1);
    
}

.lighttheme header{
    background-color: #FAF8F5;
}
.lighttheme .menu li a{
    color:#1B1C20;
}
.lighttheme header img{
    color: #1B1C20;
    filter: invert(100%);
}
.lighttheme .login-link{
    color:#1B1C20;
}
.lighttheme .signup-link{
    color:#FAF8F5;
    background-color:#1B1C20;
}
body.lighttheme {
    background-color: #FAF8F5;
  }

.lighttheme .new{
    color:#6941C6;
    background-color:white;
} 
  .lighttheme .get-link{
    background-color: #F9F5FF;
  }
  .lighttheme .textoG{
    color: #1B1C20;
  }
  .lighttheme .description{
    color:#383A47;
  }
  .lighttheme .footer1{
    color: #797B89;
  }
  .lighttheme .titulo2{
    color: #1B1C20;
  }
  .lighttheme .box-01{
    background-color:#FFFFFF ;
  }
  .lighttheme .box-02{
    background-color:#FFFFFF ;
  }
  .lighttheme .box-03{
    background-color:#FFFFFF ;
  }
  .lighttheme .box-04{
    background-color:#FFFFFF ;
  }
  .lighttheme .box-05{
    background-color:#FFFFFF ;
  }
  .lighttheme .title1{
    color: #1B1C20;
  }
  .lighttheme .boxes{
    background-color:white;
    height: 100%;
  }
  .lighttheme .h2b{
    color:#797B89;
  }
  .lighttheme .h2c{
    color:#797B89;
  }
  .lighttheme .h2d{
    color:#797B89;
  }
  .lighttheme .h2e{
    color:#797B89;
  }
  .lighttheme .h2f{
    color:#797B89;
  }
  .lighttheme .titulo2{
    background-color: white;
  }
  .lighttheme .title2{
    color: #1B1C20;
  }
  .lighttheme .title3{
    color: #1B1C20;
  }
  .lighttheme .title4{
    color: #1B1C20;
  }
  .lighttheme .title5{
    color: #1B1C20;
  }
  .lighttheme .box{
    background:#FAF8F5 ;
  }
  .lighttheme .boxt{
    color:#383A47;
  }
  .lighttheme .boxp{
    color:#797B89;
  }
  .lighttheme .ultimatela{
    background-color:white
  }
  .lighttheme footer{
    background-color: white;
  }
  .lighttheme .icons{
    filter: invert(100%);
  }
  .lighttheme .logo{
    filter: invert(100%);
  }

  .lighttheme .footertext{
    color:#797B89;
  }
  .lighttheme .botaof{
    color:black;
    filter: invert(100%);
}
    .ultimatela{
    background-color:rgba(6, 8, 9, 1);
    width: 100%;
    height: 862px;

  }



header{
    width: 100%;
    background-color:rgba(6, 8, 9, 1) ;
    display: flex;
    justify-content:left;
    align-items: center;
    
}
 
header img{
    left: 100%;
    margin-left: 112px;
    cursor: pointer;


 }


.menu li{
    display: inline-block;
    margin-right: 10px;
                                                

    
}
.menu li a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color:rgba(255,255,255,1);
    line-height: 24px;
    font-style:normal;
    font-family: 'Satoshi', sans-serif;
    
                             
}
ul{
    width: 200px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: start;
                                                
}
.font{
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
}
.login-link, .signup-link{
        position:relative;
        left: 1050px;
        line-height: 24px;
        
        
                                                
     }
     
     .login-link{
        background-color:transparent;
        color: white;
        cursor: pointer;
        margin-right: 10px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 700;
        padding:8px;


     }
     .signup-link{
        width: 73px;
        background-color: white;
        color: rgba(56, 58, 71, 1);
        border-radius: 8px;
        letter-spacing: 2px; 
        cursor: pointer;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 700;
     }
     
        
        
     
     .get-link{
        text-decoration: none;
        color: rgba(105,65,198,1);
        font: 'Satoshi',sans-serif;
        size: 14px;
        background-color: transparent;
        font-weight: 500;
     }

     .new{
        color: white;
        font-weight: 500px;
        background-color: rgba(127, 86, 217, 1);
        border-radius: 16px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        text-decoration: none;
        font-family: 'Satoshi', sans-serif;


     }

     .imagem{
        margin-left: 965px;
        margin-bottom: 1000px;
        margin-top: -560px;

        
     }

    section{
        margin-top: 150px;
        margin-left: 112px;
        margin-right: 800px;
    }

    .textoG{
        color:white;
        font-size: 44px;
        padding: 0px;
        margin-right: -300px;
        width: 500px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 700;
        
    }

    .textoRoxo{
        color:#712FFF;
    }
    .textoRoxo2{
        color:#712FFF;
        font-family: 'Inter', sans-serif;
    }
    .fraseN{
        background-color: #F9F5FF;
        border-radius: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-weight: 500px;
        padding-left: 10px;
        width: 270px;
        font-family: 'Satoshi', sans-serif;

                                                
        
    }
    .imagem01{
        cursor:pointer;
        margin-top: 32px;
        height: 100px;
        width: 100px;
    }

    .description {
        color: white;
        font-size: 20px;
        margin-right: 400px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 400;
    }
    .imagem02{
        cursor:pointer;
        margin-left: 190px;
        margin-top: -66px;
    }
    .footer1{
        display:flex;
        margin-top: -950px;
        font-size: 15px;
        color: #E7E7E7;
        margin-left: 700px;
        font-family: 'Satoshi',sans-serif;
        font-weight: 500;

    }

    .patrocinios{
        display: flex;
        justify-content: flex-start;
        margin-left: 80px; 
        
    }
    
    .patro1{
        display: flex;
        padding-right: 280px;

    }
    .patro2{
        display: flex;
        padding-right: 280px;
        
    }
    .patro3{
        display: flex;
        padding-right: 280px;
        
    }
    .patro4{
        display: flex;
        padding-right: 280px;
        
    }
    .patro5{
        display: flex;
        padding: 0;
    
    }
    .titulo2{
        color:white;
        font-size: 43px;
        font-weight: 700;
        text-align: center;
        font-family: 'Satoshi', sans-serif;
        height: 180px;
        padding-top: 50px;
    }

    .boxes{
        display: flex;
        justify-content: center;
        background-color: rgba(6, 8, 9, 1);
        margin-top:-45px;
        
        
    }
    .boxesleft{
        display: flex;
        flex-wrap: wrap;
        width: 845px;

    }

    .box-01{
        width: 408px;
        height: 316px;
        border-radius: 31px;
        background-color: #1B1C20;
        display:flex;
        flex-direction: column;
        margin-right: 28px;
        margin-bottom: 28px;
        box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
    }
    .title1{
        margin-left: 134px;
        color:white;
        font-size: 24px;
        margin-top: 40px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 400;
                                                
    }
    .h2b {
        color:#E7E7E7;
        margin-right: 65px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        text-align: center;
        margin-left: 65px;
        font-weight: 400;

    }
    .icon1{
        margin-left: 140px;
        margin-top: 6px;
    }
    .box-02{
        width:408.05px;
        height: 316px;
        border-radius: 31px;
        background-color: #1B1C20;
        display:flex;
        flex-direction: column;
        margin-bottom: 28px;
        box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
        
    }
    .title2{
        color:white;
        font-size: 24px; 
        margin-right: 80px;
        margin-left: 80px;
        margin-top: 39px;
        font-weight: 400;
        font-family: 'Satoshi', sans-serif;
                                                

    }
    .h2c{
        color:#E7E7E7;
        margin-right: 65px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        text-align: center;
        margin-left: 65px;
        margin-top: 35px;
        font-weight: 400;
    }
    .icon2{
        margin-left: 151px;
        margin-top: 27px;
    }

    .box-03{
        width: 408px;
        height: 660px;
        border-radius: 31px;
        background-color: #1B1C20;
        display:flex;
        flex-direction: column;
        margin-left: 30px;
        box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);

        
    }
    .title3{
        color:white;
        font-size: 24px; 
        margin-right: 107px;
        margin-left: 107px;
        margin-top: 39px;
        font-weight: 400;
        font-family: 'Satoshi', sans-serif;


    }
    .h2d{
        color:#E7E7E7;
        margin-right: 65px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        text-align: center;
        margin-left: 65px;
        margin-top: 10px;
        font-weight: 400;
    }
    .icon3{
       margin-left: 54px;
       margin-top: 27px; 
    }
    .box-04{
       width: 408px;
       height: 316px;
       border-radius: 31px;
       margin-left: 28px;
       margin-bottom: 96px;
       background-color: #1B1C20;
       display:flex;
       flex-direction: column;
       box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
    }
    .title4{
        color:white;
        font-size: 24px; 
        margin-right: 102px;
        margin-left: 102px;
        margin-top: 39px;
        font-weight: 400;
        font-family: 'Satoshi', sans-serif;

    }
    .h2e{
        color:#E7E7E7;
        margin-right: 65px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        text-align: center;
        margin-left: 65px;
        margin-top: 35px;
        font-weight: 400;
    }
    .icon4{
        margin-left: 116px;
        margin-top: 27px;
    }
    .box-05{
        width: 408px;
        height: 316px;
        border-radius: 31px;
        background-color: #1B1C20;
        display:flex;
        flex-direction: column;
        box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
     }

     .title5{
        color:white;
        font-size: 24px; 
        margin-right: 102px;
        margin-left: 102px;
        margin-top: 39px;
        font-weight: 400;
        font-family: 'Satoshi', sans-serif;

    }
    .h2f{
        color:#E7E7E7;
        margin-right: 70px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        text-align: center;
        margin-left: 65px;
        margin-top: 35px;
        font-weight: 400;
    }
    .icon5{
        margin-left: 157px;
        margin-top: 27px;
    }
    .box{
        width: 1280px;
        height: 670px;
        background-color: #1B1C20;
        border-radius: 25px;
        margin-left: 281px;
        
    }

    .boxt{
        font-size: 23px;
        width: 432px;
        height: 116px;
        color: white;
        padding-left: 31px;
        padding-top: 108px;
        font-weight: 700;
        position: relative;
        z-index: 5;
    }
    .boxp{
        width: 478px;
        height: 140px;
        font-size: 21px;
        color:#B8B8B8;
        font-weight: 400;
        position: relative;
        z-index: 5;
    }
    .botaof{
        color:#1B1C20;
        font: 'Satoshi',sans-serif;
        size: 17px;
        background-color: white;
        padding-top: 1px;
        padding-bottom: 1px;
        border-radius: 405px;
        margin-right: 60%;
        margin-left: -7px;
        text-align:center;
        cursor: pointer;
        margin-top: 150px;
     }

     .boxcard{
        margin-top: -226px;

     }

    .container-footer {
        display: flex;
        justify-content: space-between;
     }

     .icons{
        margin: 45px;
     }

     .logo{
        margin: 45px;
     }

     .footertext{
        margin: 45px;
        margin-top: 50px;
        color: #B8B8B8;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
     }